@use "/src/styles/variables";

main {
  width: auto;
  height: auto;
  background-color: variables.$color-neutral-white;
  margin: 0 auto;
  border-radius: 1rem 1rem 5rem 1rem;

  display: grid;
  grid-template-rows: 2fr 1fr 4fr;
  grid-template-columns: 3fr 1fr;
  padding: 4rem 2rem;
  justify-content: center;
}

.input-form {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: auto;
}

.division {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  padding-right: 3rem;
  &__line {
    border: none;
    height: 2px;
    width: 100%;
    background-color: variables.$color-neutral-light-grey;
    align-self: center;
    &__end {
      border: none;
      height: 2px;
      width: 0%;
      background-color: variables.$color-neutral-light-grey;
      align-self: center;
    }
  }
  &__action-button {
    display: inline-block;
    margin-left: 0.25rem;
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1;
    border: solid variables.$color-neutral-white;
    border-radius: 50%;
    background-color: variables.$color-primary-purple;
    background-image: url(../assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: variables.$color-neutral-off-black;
      cursor: pointer;
    }
  }
}

.display-age {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  width: auto;
}

@media screen and (max-width: 1000px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .division {
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 0;
    &__line {
      width: 50%;
      &__end {
        width: 50%;
      }
    }
    &__action-button {
      margin-left: 0;
    }
  }
}
@
