@use "styles/reset.scss";
@use "styles/fonts.scss";
@use "styles/variables.scss";

body {
  font-family: Poppins, Fallback, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;

  background-color: variables.$color-neutral-off-white;

  display: flex;
  justify-content: center;
  align-items: center;
}
